.head {
  background: linear-gradient(92deg, #e82eff 0%, #61168f 40%, #1c0a56 100%) 0%
    0%;
  height: 60px;
  width: 100vw;
  position: relative;
  top: -16px;
  margin-left: -80px !important;
  display: flex;
  align-items: center;
}
