.title {
  font-weight: 900;
  font-size: 46px;
  color: rgb(75, 4, 190);
  text-transform: uppercase;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -66px;
}
