.title {
  font-weight: 900;
  font-size: 46px;
  color: rgb(75, 4, 190);
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -66px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-right: 0px !important;
}
.valueDesc {
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  color: rgb(8, 8, 61);
  margin-left: 60px;
}
